.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
config/mongoid.yml
.bundle
/public/system/*
rerun.txt
pickle-email-*.html
.project
*.sassc
.env
/public/javascripts/code-for-moving.js
