body { padding-top: 70px; }
body { padding-bottom: 70px; }

#tripmeter { margin-top: 10px; margin-bottom: 10px; }
#tripmeter p { color: #222; font: 14px Arial; }
#tripmeter span { color: #00C; }

#map { height: 300px; width: 650px;}