<h1>List of users</h1>
<hr/>

<% @users.each do |user| %>
  <div class="user">
    <h3><%= link_to user.name, url_for(:users, :show, id: user.id) %> <small>(<%= user.email %>)</small>
    </h3>
  </div>
<% end %>

<hr/>
<h4><a href="/pins/new">Back to drop a new pin...</a></h4>