<h1>WELCOME</h1>

<hr/>

<p>Click EXPLORE (button below) to view existing Pins</p>

<p>While NOT logged in, you can only see messages destined for PUBLIC (viewing)</p>

<p>(Eventually we'll mask the msg's and you'll only be able to read them once nearby)</p>

<p>In order to DROP messages (button below) or read any which were privately sent to you, you must LOGIN (top right)</p>

<p>We can add more instructions here later...</p>